<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="x-ua-compatible" content="ie=edge">
  <title>Otp</title>
</head>
<body>
  <p>Hello {{username}} <p>
  <p> Your Otp is {{otp}}. </p>
  <p>Regards, </p>
  <b>Team happy </p>
</body>
</html>