<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="x-ua-compatible" content="ie=edge">
  <title>Order Placed</title>
</head>
<body>
  <p>Hello {{username}}! <p>
  <p>Registration is succesfull. Your temporary password is {{password}}. </p>
  <p>Regards, </p>
  <b>Team happy </p>
</body>
</html>